<h2>Main Expo</h2>
<h3>2007</h3>
<ul class="uk-list uk-list-large">
	<li>MalpensaCavalli – Busto Arsizio MI – 30 Marzo - 1 Aprile 2007</li>
	<li>Porte Aperte – Iseo BS – 28 Aprile - 1 Maggio 2007</li>
</ul>
<h3>2006</h3>
<ul class="uk-list uk-list-large">
	<li>Porte aperte – Centro Culturale Clusane – BS – 2006</li>
	<li>6ème Salon d’Art Animalier – Saint Pierre lès Nemours – Francia – 2006</li>
</ul>
<h3>2005</h3>
<ul class="uk-list uk-list-large">
	<li>Collettiva – Centro commerciale Le Torbiere Cortefranca – BS – 2005</li>
	<li>Porte aperte – Centro Culturale Clusane – BS – 2005</li>
	<li>Naturarte – Museo scienze naturali – Pordenone – 2005</li>
	<li>Wild in de Natuur 2005 – Enschede – Olanda – 2005</li>
</ul>
<h3>2004</h3>
<ul class="uk-list uk-list-large">
	<li>Collettiva – Centro commerciale Le Torbiere – Cortefranca – BS – 2004</li>
	<li>Porte aperte – Centro Culturale Clusane – BS – 2004</li>
	<li>Pittura ed enogastronomia – Colombaro di Cortefranca – BS – 2004</li>
	<li>Collettiva Centro commerciale Le Torbiere – Cortefranca – BS – 2004</li>
	<li>Collettiva “Le Quadre” – Chiari – BS – 2004</li>
	<li>Passeggiata a quattro zampe – Associazione L.A.I.C.A. – Adro – BS – 2004</li>
	<li>1a Mostra Internazionale d’Arte Naturalistica – Tarvisio (UD) – 2004</li>
</ul>
<h3>2003-2002</h3>
<ul class="uk-list uk-list-large">
	<li>Pittura ed enogastronomia – Cortefranca – BS – 2003</li>
	<li>Travagliatocavalli – Travagliato – BS – 2002</li>
	<li>Festa del Cavallo – Olgiate Comasco – CO – 2002</li>
</ul>
<h2>Art Contest</h2>
<ul class="uk-list uk-list-large">
	<li>“Il Cavallo” – Olgiate Comasco – CO – 2002 – 2° classificata</li>
	<li>Margherita d’Argento – Cesena – 2004 – Opera segnalata</li>
	<li>Estemporanea Comune di Rovato – 2004</li>
	<li>Premio Agazzi – Mapello – BG – 2004</li>
	<li>Premio Michelangelo Merisi – Caravaggio – BG – 2004</li>
	<li>Biennale Osio sotto – BG – 2004</li>
	<li>Premio di pittura “Il Gatto” – Gatteo a Mare – FO – 2004</li>
	<li>Premio comune di Cortefranca – BS – 2004</li>
	<li>Camignonissima – BS – Premio Giuria Popolare</li>
	<li>Estemporanea di pittura – Darfo Boario Terme – BS – 2004</li>
	<li>Comune di Paratico – BS – 2004 – Opera segnalata</li>
	<li>Concorso di pittura – Comune di Provaglio – BS – 2004</li>
	<li>Concorso di pittura Don A.Foppa – Bergamo – 2007</li>
	<li>Premio di pittura “Il Gatto” – Gatteo a Mare – FO – 2007</li>
	<li>The Artist Magazine’s Annual Art Contest – Cincinnati – USA – 2007</li>
</ul>
