<footer class="footer uk-container uk-margin">
	<hr>
	<div class="uk-grid-divider" uk-grid>
		<span class="uk-grid-item-match@l uk-width-1-1 uk-width-3-4@l">Copyright &copy; 2004 - {{ 'now' | date: "%Y" }} <span class="uk-text-uppercase">{{ site.title }}</span>. All Rights Reserved. This site does not use cookies.<br>Unauthorised copy or use of images is strictly forbidden. Any violation hereof shall be prosecuted in terms of the law.</span>
		<span class="uk-grid-item-match@l uk-width-1-1 uk-width-expand@l uk-text-right@l">Designed &amp; Developed by <a class="uk-text-uppercase" href="https://raffaellarinaldi.me" target="_blank" rel="nofollow">Raffaella Rinaldi</a></span>
	</div>
</footer>
