{% assign menus = menu %}

{% for menu in menus %}
	{% if menu.lang == site.lang %}
		<ul class="{{ class }}">
			{% for item in menu.items %}
				{% unless item.fileslug == 'index' %}
					{% if item.ref == 'contact' %}
						{% capture item_fileslug %}mailto:{{ site.email | encode_email }}{% endcapture %}
					{% else %}
						{% capture item_fileslug %}/{{ item.fileslug }}/{% endcapture %}
					{% endif %}
					<li class="{% if page.fileSlug == item.fileslug %}uk-active{% endif %}">
						<a href="{{ item_fileslug }}">
							<span>{{ item.title }}</span>
						</a>
					</li>
				{% endunless %}
			{% endfor %}
		</ul>
	{% endif %}
{% endfor %}
